/* BasicTreeView.css */
.node-container {
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .node-details {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
    cursor: pointer;
  }

  .special-node-details {
    margin-left: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .clickable {
    cursor: pointer;
    color: #007bff; /* Softer blue color */
    text-decoration: none; /* Remove underline */
  }
  
  .table-style {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .th-style {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .td-style {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .special-node-details-row {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    align-items: center; /* Vertically align items */
    margin-left: 20px; /* Adjust as per your marginLeftStyle */
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .special-node-detail-cell {
    flex: 1 1 200px; 
    flex-basis: 0; /* To distribute space evenly */
    padding: 5px 10px; /* Adjust as needed */
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* In case of overflow */
  }

  